<!-- Bottom text -->
.section.section__bottom
  .container
    
    .section__bottom__row
      div.order1 +38 057 731-40-07
      div.order2 +38 050 344-29-10
      div.order3
        a(href="#").btn.btn--border Как добраться

// Footer
footer.footer
  .container
    
    .footer__logo
      img(src="./img/footer-logo.svg", alt="")
        
    p Кинотеатр PALLADIUM CINEMA
      br
      | Вы всегда в главной роли
      
    .development Разработка студия 
      a(href="#") DARTC 
