.main-slider.main-slider--nombottom
  ul#main-slider
    li
      a(href="http://palladium-cinema.com.ua" target="_blank")
        picture.img--responsive
          source(srcset="./tmp/banner-main/slider-main-1_767.jpg" media="(max-width: 767px)")
          source(srcset="./tmp/banner-main/slider-main-1_991.jpg" media="(max-width: 991px)")
          img(src="./tmp/banner-main/slider-main-1.jpg", alt="")
            
        .main-slider__block.hidden-xs.hidden-sm
          .container
            .main-slider__body
              .h1 Vip-зал  “Париж”
              p Только здесь:
              ul
                li шедевры кино на выбор
                li спортивные трансляции
                li игры на Xbox
              .main-slider__more Подробнее
    li
      picture.img--responsive
        source(srcset="./tmp/banner-main/fsdssss_767.png" media="(max-width: 767px)")
        source(srcset="./tmp/banner-main/fsdssss_991.png" media="(max-width: 991px)")
        img(src="./tmp/banner-main/fsdssss.png", alt="")
      .main-slider__block.hidden-xs.hidden-sm
        .container
          .main-slider__body
            .h1 Встречайте наше приложение для смартфонов:
            .main-slider__more Подробнее
    li
      picture.img--responsive
        source(srcset="./tmp/banner-main/banner_cinema_767.jpg" media="(max-width: 767px)")
        source(srcset="./tmp/banner-main/banner_cinema_991.jpg" media="(max-width: 991px)")
        img(src="./tmp/banner-main/banner_cinema.jpg", alt="")
      .main-slider__block.hidden-xs.hidden-sm
        .container
          .main-slider__body
            .h1 - 30% каждому предъявителю
            p билета Palladium Cinema
            .main-slider__more Подробнее
    li
      picture.img--responsive
        source(srcset="./tmp/banner-main/banner_cinema_2in1-web_767.jpg" media="(max-width: 767px)")
        source(srcset="./tmp/banner-main/banner_cinema_2in1-web_991.jpg" media="(max-width: 991px)")
        img(src="./tmp/banner-main/banner_cinema_2in1-web.jpg", alt="")
      .main-slider__block.hidden-xs.hidden-sm
        .container
          .main-slider__body
            .h1 Твой яркий девичник – узнать больше
            .main-slider__more Подробнее
    li
      picture.img--responsive
        source(srcset="./tmp/banner-main/banner_cinema-ispravl-new_767.jpg" media="(max-width: 767px)")
        source(srcset="./tmp/banner-main/banner_cinema-ispravl-new_991.jpg" media="(max-width: 991px)")
        img(src="./tmp/banner-main/banner_cinema-ispravl-new.jpg", alt="")
      .main-slider__block.hidden-xs.hidden-sm
        .container
          .main-slider__body
            .h1 Выгодное предложение
            p от Palladium Cinema:
            .main-slider__more Подробнее
            
  #main-slider__pagination.main-slider__pagination
    .container
      a(href="#" data-slide-index="0") 1
      a(href="#" data-slide-index="1") 2
      a(href="#" data-slide-index="2") 3
      a(href="#" data-slide-index="3") 4
      a(href="#" data-slide-index="4") 5
