.section.seo-text.hidden-xs
  .container
    
    .seo-text__head
      p Кинотеатр Palladium Cinema в Харькове - это новый взгляд на искусство кино. Это удобство и комфорт в сочетании с демократичными ценами. Это Real D – одна из самых современных технологий проецирования 3D-изображения в мире. Это уникальные экраны с серебряным напылением. Это единственный кинотеатр в Украине, который предоставляет возможность самостоятельно выбирать, что смотреть.
      p В кинотеатре Palladium Cinema все сделано для того, чтобы Вы приятно провели время. Три уютных зала с небольшим количеством мягких и удобных кожаных кресел позволяют насладиться фильмом в узком кругу ценителей хорошего кино. Душевная домашняя атмосфера, которую невозможно найти в привычных больших кинозалах, помогает полностью погрузиться в происходящее на экране действо, которое становится еще более реалистичным благодаря легким 3D-очкам.
    
    #seo-text__body.collapse
      .seo-text__body
        p Мы предлагаем отдых премиум класса, который можно встретить только в небольших люксовых кинотеатрах в ОАЭ или на золотом побережье Калифорнии при демократичной стоимости билетов. Мы создаем свободу выбора – именно Вы выбираете кинофильм и время просмотра в зале "Париж". И все это - в самом центре Харькова.
        p Palladium Cinema - это кинотеатр в Харькове для кино-гурманов, способных по достоинству оценить комфорт просмотра, качество изображения и чистоту звука. В Palladium Cinema – Харьков - Вы всегда в главной роли!
        p Не выходя из ТРЦ Palladium, Вы можете посетить лучший 
          a(href="#") ночной клуб Харькова - Panorama Lounge
    
    .seo-text__button
      button(href="#seo-text__body" data-toggle="collapse" data-target="#seo-text__body")#seo-text__btn.seo-text__btn Показать
        i.zmdi.zmdi-chevron-down
