#slideout-menu.slideout-menu
  .slideout-menu__body
    div
      .container
        .toggle-button
          i.zmdi.zmdi-close
    div
      nav.mobile(role="navigation")
    div
      .language__mobile
