doctype

html(lang="ru")
  
  -var active = 'Новости и акции' //активный пункт меню, список в header.jade
  -var pageTitle = 'Новость' + ' - Palladium Cinema' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    <!-- Preloader -->
    .loader
      .loader__block
    
    include ./_include/_slideout-menu
      
    #base
    
      include ./_include/_header
      
      .container
        a(href="#").schedule__back
          i.zmdi.zmdi-chevron-left 
          | Вернуться к 
          span списку
          
        .section__head
          .h1 Новости и акции
      
      // Content
      .section.news.nopt
        .container
          
          .row
            .col-md-6
              .visible-sm.visible-xs
                .h1 Наше приложение для смартфонов
              img(src="./tmp/news/r428_banner_cinema-08.png", alt="").img-responsive
              
            .col-md-6
              .hidden-sm.hidden-xs
                h1 Наше приложение для смартфонов
                
              .visible-sm.visible-xs
                .clear15
                  
              p Palladium Cinema запустил приложение для iOS и Android смартфонов!  
                  
      
      include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/respond/respond.min.js'><![endif]

    script(src='./js/libs/jquery/jquery-2.1.4.min.js')
    script(src='./js/libs/jquery/jquery-migrate-1.2.1.min.js')
    script(src='./js/libs/modernizr/modernizr.js')
    script(src='./js/libs/plugins-scroll/plugins-scroll.js')
    script(src='./js/vendors.js')
    script(src='./js/common.js')
